# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
dependency-reduced-pom.xml

# Makefile output
dst

# Test Prep Area
logs/
measure/
results/
